*{
    margin-top: 4px;
    text-decoration: none;
}

.bg-1{
    width: 250px;
}


.App{
    display: flex;
    align-items: center;
    }

    h3{
    color: #2C233D;
    font-family: 'Montserrat', sans-serif;
    margin-left: -12%;
    margin-top: -7%;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.01em;
    }


    .bg-2{
        width: 20px;
    }

 .ops{
     
    text-decoration:overline 3px solid black; 
    }


.btno{
background: #006cf9;
border-radius: 5px;
width: 99px;
height: 33px;
left: 1225px;
top: 48px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 33px;
text-decoration: none;
border: none;
color: #FFFFFF;
}

.btn:hover{
    background: #1e00c8;
}




.center{
    display: flex;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #2C233D;
    font-weight: 500;
    margin-top: -7%;
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 0.01em;
    justify-content: space-evenly;
    flex-direction: row;
}